<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="newton-home"></span></a>
          </li>
          <li class="dropdown">
            <a href="#!/start-repair" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repair</a>
          </li>
          <li class="active">Fill Service Request</li>
        </ol>
      </div>
    </div>
  </div>
<section class="ng-cloak">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <!-- <div>
            <input type="button" ng-click="startArtyom()" value="start voice command"></input>
            <input type="button" ng-click="stopArtyom()" value="stop listening"></input>
            <span id="output"></span>
            <button id="previous" ng-click="hideText()">Previous</button>
            <button id="next" ng-click="showText()">Next</button>
            <span id="textToShow" style="display: none; color:red; border: 2px solid black;">Olá apareci porque disseste "Next"!</span>
          </div> -->
          <md-content layout-padding>
            <form name="manualRequestForm">
  
              <!-- dropdown questions-->
              <div layout="row">
                <md-input-container flex="50">
                  <label> SCA Number</label>
                  <md-select name="scaNumber" ng-model="project.scaNumber" required>
                    <md-option value="1">CFS18001</md-option>
                    <md-option value="2">CFS18002</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="50">
                  <label> Rev Number</label>
                  <md-select name="revNumber" ng-model="project.revNumber" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="50">
                  <label> Customer Name</label>
                  <md-select name="customerName" ng-model="project.customerName" required>
                    <md-option value="1">Shell</md-option>
                    <md-option value="2">Mobi</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="50">
                  <label>Customer Site / Platform</label>
                  <md-select name="customerSite" ng-model="project.customerSite" required>
                    <md-option value="1">Gannett</md-option>
                    <md-option value="2">Tripoli</md-option>
                  </md-select>
                </md-input-container>
              </div>
  
              <!-- Yes or no questions-->
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="special" ng-model="project.special" required>
                  Special customer requirements?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.special.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="supervisory" ng-model="project.supervisory" required>
                  Supervisory requirements?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.supervisory.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="contractor" ng-model="project.contractor" required>
                  Contractor management requirements?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.contractor.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="coverage" ng-model="project.coverage" required>
                  Continuous shift coverage?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.coverage.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="potential" ng-model="project.potential" required>
                  Potential scope increase?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.potential.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
              <md-input-container class="md-block">
                <md-switch class="md-primary" name="visa" ng-model="project.visa" required>
                  Special visa requirements?
                </md-switch>
                <!-- <div ng-messages="manualRequestForm.visa.$error" multiple>
                  <div ng-message="required">
                    Required
                  </div>
                </div> -->
              </md-input-container>
  
              <div layout="row">
                <!-- textarea -->
                <md-input-container class="md-block" flex="90">
                  <label> Specific Requirements… </label>
                  <input md-no-asterisk name="description" id="description" ng-model="project.description" ng-value="descriptionRequirements" input-clear="black">
                </md-input-container>
                <!-- microphone button -->
                <div class="button-adjuster">
                  <md-button flex="10" ng-switch="vm.isMicrophoneOpen" ng-click="vm.isMicrophoneOpen=!vm.isMicrophoneOpen" ng-class="md-icon-button">
                    <md-icon ng-show="!vm.isMicrophoneOpen" class="microphone-image" ng-click="startArtyom()">
                      <img class="microphone-image" src="assets/images/baseline-mic_off-24px.svg">
                    </md-icon>
                    <md-icon ng-show="vm.isMicrophoneOpen" class="microphone-image" ng-click="stopArtyom()">
                      <img class="microphone-image" src="assets/images/baseline-mic-24px.svg">
                    </md-icon>
                  </md-button>
                </div>
              </div>
  
              <!-- Submit button -->
              <div>
                <md-button type="submit">Submit</md-button>
              </div>
            </form>
          </md-content>
        </div>
      </div>
    </div>
  </section>