

  
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="newton-home"></span></a>
        </li>
        <li class="dropdown">
          <a href="#!/start-repair" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repair</a>
        </li>
        <li class="active">Read OCR</li>
      </ol>
    </div>
  </div>
</div>
<center><a class="btn btn-primary" style="width:200px;padding:10px 12px" id="btNewPic" data-ng-click="ocrCtrl.restart();">
 New Picture<span class="newton-arrow-right-small"></span>
</a></center>
<section class="ng-cloak">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
          <div class="alert alert-info" data-ng-show="!!ocrCtrl.equipmentError">
              <a class="close" data-ng-click="ocrCtrl.equipmentError = null" style="cursor:pointer"></a>
              <span class="glyphicon-siemens glyphicon-siemens-news-A"></span>&nbsp;&nbsp;{{ocrCtrl.equipmentError}}
             </div>
          <center><video autoplay  id="myvideo"></video></center>
            <center><canvas id="canvas" ></canvas></center>
              <center><img   id="myimg" /></center>
      </div>
    </div>
    
    <div class="row" data-ng-show="!!ocrCtrl.equipment">
        <div class="col-xs-12">
          <div class="equipment container" style="background:#f0f0f0;box-shadow:0px 0px 10px #aaa">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div style="width:calc(100% + 30px);margin-left:-15px;height:150px;background:url('{{ocrCtrl.equipment.picture}}') 50% 50% no-repeat;background-size: cover;"></div>
              </div>
              <div class="col-xs-12 col-sm-9">
                <h2>{{ocrCtrl.equipment.name}}</h2>
                <p>{{ocrCtrl.equipment.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" data-ng-show="!!ocrCtrl.equipment" style="margin-top:20px;">
        <div class="col-xs-12" data-ng-show="!!ocrCtrl.equipment.under_repair">
          <div class="alert alert-warning">
           <span class="glyphicon-siemens glyphicon-siemens-news-A"></span>&nbsp;&nbsp;This equipment is already under maintenance!
          </div>
        </div>
        <div class="col-xs-4 col-md-3 col-lg-2">
          <button class="btn btn-default" style="width:100%;padding:10px 12px" data-ng-click="ocrCtrl.equipment = null">
            <span class="newton-arrow-left-small"></span>&nbsp;&nbsp;Back
          </button>
        </div>
        <div class="col-xs-8 col-md-4 col-md-offset-5 col-lg-2 col-lg-offset-8" data-ng-show="!ocrCtrl.equipment.under_repair">
          <a class="btn btn-primary" style="width:100%;padding:10px 12px" href="#!/manual">
            Select&nbsp;&nbsp;<span class="newton-arrow-right-small"></span>
          </a>
        </div>
      </div>
  </div>
</section>

