<div class="container single">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="newton-home"></span></a>
        </li>
        <li class="dropdown">
          <a href="#!/start-repair" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repair</a>
        </li>
        <li class="active">Select a technician</li>
      </ol>
    </div>
  </div>
</div>
<section class="ng-cloak">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="accord" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accord" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h4 class="panel-title">
                Near and available technicians 
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-3" data-ng-repeat="techn in technicianCtrl.techMatches.nearestsAndAvailabe" style="margin-bottom:10px">
                    <div class="row">
                      <div class="col-xs-5">
                        <img src="https://randomuser.me/portraits/{{$odd ? 'women' : 'men'}}/{{$index}}.jpg" style="width:100%" />
                      </div>
                      <div class="col-xs-7">
                        <h4 style="margin:0">{{techn.name}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accord" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4 class="panel-title">
                Other available technicians
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="techn in technicianCtrl.techMatches.otherAvailableInRangeMatches" style="margin-bottom:10px">
	                <md-card md-theme="default" md-theme-watch>
						        <md-card-title>
						          <md-card-title-text>
						            <span class="md-headline">{{techn.name}}</span>
						          </md-card-title-text>
						          <md-card-title-media>
						            <div class="md-media-sm card-media">
						             <img src="https://randomuser.me/portraits/{{$odd ? 'women' : 'men'}}/{{$index}}.jpg" style="width:100%;border-radius:50%;" />
						            </div>
						          </md-card-title-media>
						        </md-card-title>
	<!-- 					        <md-card-actions layout="row" layout-align="end center"> -->
	<!-- 					          <md-button>Action 1</md-button> -->
	<!-- 					          <md-button>Action 2</md-button> -->
	<!-- 					        </md-card-actions> -->
						      </md-card>
						    </div>
              
<!--                 <div class="col-xs-12 col-sm-4 col-md-3" data-ng-repeat="techn in technicianCtrl.techMatches.otherAvailableInRangeMatches" style="margin-bottom:10px"> -->
<!--                     <div class="row"> -->
<!--                       <div class="col-xs-5"> -->
<!--                         <img src="https://randomuser.me/portraits/{{$odd ? 'women' : 'men'}}/{{$index}}.jpg" style="width:100%" /> -->
<!--                       </div> -->
<!--                       <div class="col-xs-7"> -->
<!--                         <h4 style="margin:0">{{techn.name}}</h4> -->
<!--                       </div> -->
<!--                     </div> -->
<!--                   </div> -->
<!--               </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>