<div class="container single">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="newton-home"></span></a>
        </li>
        <li class="dropdown">
          <a href="#!/start-repair" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repair</a>
        </li>
        <li class="active">Select a technician</li>
      </ol>
    </div>
  </div>
</div>
<section class="ng-cloak">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{technicianCtrl.techMatches.bestMatch.name}} is the best technician to assist on your demand.</h4>
      </div>
      <div class="col-xs-12 col-md-5" data-ng-click="technicianCtrl.selTechn = technicianCtrl.techMatches.bestMatch">
        <md-card md-theme="default" md-theme-watch>
           <img src="assets/images/green-check.png" style="width: 48px;height: 48px;position: absolute;right: 0;top: 0;" data-ng-show="technicianCtrl.selTechn.id === technicianCtrl.techMatches.bestMatch.id">
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">{{technicianCtrl.techMatches.bestMatch.name}}</span>
               <span class="md-subhead">Available at {{technicianCtrl.techMatches.bestMatch.nextAvail}}</span>
             </md-card-title-text>
             <md-card-title-media>
               <div class="md-media-sm card-media">
                <img src="https://randomuser.me/portraits/{{technicianCtrl.randTech < 50 ? 'women' : 'men'}}/{{technicianCtrl.randTech}}.jpg" style="width:100%;border-radius:50%;" />
               </div>
             </md-card-title-media>
           </md-card-title>
         </md-card>
      </div>
      <div class="col-xs-12 col-md-offset-3 col-md-4">
        <button class="btn btn-primary" data-ng-click="technicianCtrl.fn.submitOrder()" style="width:100%;font-size:16px;font-weight:bold;padding:10px;">
          Submit order&nbsp;&nbsp;<span class="newton-check-mark"></span>
        </button>
      </div>
      <div class="col-xs-12" style="padding-top:25px">
        <p>However if you'd like other technician, you can select one based on availability or localization. Please see below.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="accord" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accord" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h4 class="panel-title">
                Near and available technicians&nbsp;&nbsp;<span class="badge">{{technicianCtrl.techMatches.nearestsAndAvailabe.length - 1}}</span>
              </h4> 
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="techn in technicianCtrl.techMatches.nearestsAndAvailabe" data-ng-if="techn.id != technicianCtrl.techMatches.bestMatch.id" data-ng-click="technicianCtrl.selTechn = techn" style="margin-bottom:10px;height:150px;cursor:pointer">
                    <md-card md-theme="default" md-theme-watch>
                      <img src="assets/images/green-check.png" style="width: 48px;height: 48px;position: absolute;right: 0;top: 0;" data-ng-show="technicianCtrl.selTechn.id === techn.id">
	                    <md-card-title>
	                      <md-card-title-text>
	                        <span class="md-headline">{{techn.name}}</span>
	                        <span class="md-subhead">Available at {{techn.nextAvail}}</span>
	                      </md-card-title-text>
	                      <md-card-title-media>
	                        <div class="md-media-sm card-media">
	                         <img src="https://randomuser.me/portraits/{{$odd ? 'women' : 'men'}}/{{$index}}.jpg" style="width:100%;border-radius:50%;" />
	                        </div>
	                      </md-card-title-media>
	                    </md-card-title>
	                  </md-card>
	                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accord" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4 class="panel-title">
                Other available technicians&nbsp;&nbsp;<span class="badge">{{technicianCtrl.techMatches.otherAvailableInRangeMatches.length > 50 ? '50+' : technicianCtrl.techMatches.otherAvailableInRangeMatches.length}}</span>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="techn in technicianCtrl.techMatches.otherAvailableInRangeMatches | limitTo:50" data-ng-if="techn.id != technicianCtrl.techMatches.bestMatch.id" data-ng-click="technicianCtrl.selTechn = techn" style="margin-bottom:10px;;height:150px">
	                <md-card md-theme="default" md-theme-watch>
	                  <img src="assets/images/green-check.png" style="width: 48px;height: 48px;position: absolute;right: 0;top: 0;" data-ng-show="technicianCtrl.selTechn.id === techn.id">
						        <md-card-title>
						          <md-card-title-text>
						            <span class="md-headline">{{techn.name}}</span>
						            <span class="md-subhead">Available at {{techn.nextAvail}}</span>
						          </md-card-title-text>
						          <md-card-title-media>
						            <div class="md-media-sm card-media">
						              <img data-ng-if="$index >= 100" src="assets/images/user.png" style="width:100%;border-radius:50%;" />
						              <img data-ng-if="$index < 100" src="https://randomuser.me/portraits/{{$odd ? 'women' : 'men'}}/{{$index}}.jpg" style="width:100%;border-radius:50%;" />
						            </div>
						          </md-card-title-media>
						        </md-card-title>
						      </md-card>
						    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>