/**** Newton Fixes ****/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html,body {
  height:100%;
}
main {
	display:flex;
	flex-flow:column;
  flex:1 0 auto;
  position:relative;
  margin-top:90px;
}
@media (max-width: 767px) {
  main {
    margin-top: 62px !important; }
}

.breadcrumb > .dropdown > .dropdown-toggle::after {
  content: '\EA0C';
}
ol.breadcrumb {
	font-size:16px;
}

.navbar.navbar-default.navbar-fixed-top {
  height:80px;
}
/**** End Of: Newton Fixes ****/

.thumbnail.disabled {
	cursor:default;
	opacity:0.4;
	box-shadow:none !important;
}

.thumbnail-link {
	cursor:pointer;
	transition:all 0.5s;
}
.thumbnail-link:hover {
	box-shadow:2px 2px 8px #888;
}

.thumbnail-img-container {
	height:180px;
	padding:25px 25px 0;
	position:relative;
}
.thumbnail-img {
	height:100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.thumbnail-repair .thumbnail-img {
	background-image: url('../images/icoRepair.png');
}

.thumbnail-sales .thumbnail-img {
  background-image: url('../images/icoSales.png');
}

.thumbnail-qr .thumbnail-img {
  background-image: url('../images/icoQr.png');
}

.thumbnail-manual .thumbnail-img {
  background-image: url('../images/icoManual.png');
}

.thumbnail-loc .thumbnail-img {
  background-image: url('../images/icoLoc.png');
}
.thumbnail-loc .thumbnail-img-container h2 {
	position:absolute;
	right:-5px;
	top:-5px;
	transition:all 0.5s;
	margin:0;
}
.thumbnail-loc:hover .thumbnail-img-container .label {
	box-shadow:0px 0px 6px #888;
}

/**** Start of Manual ****/
.microphone-image {
	height: 34px;
	width: 34px;
}


